# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Log files
*.log
logs/
*.out

# Telegram session files
*.session
*.session-journal

# Environment variables
.env

# Test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local config
*.local

# Ignore user-specific config
*.sqlite3